body, html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: none;
}

.main-header{
    position: absolute;
    border:1px solid black;
    width:100%;
    height:10%;
}

.main .main-section{
    position: absolute;
    border:1px solid black;
    width:35%;
    height: 90%;
    top:10%;
}

.main #main-section-A{
    left:0;
}

.main #main-section-B{
    right:0;
}

.main #main-section-A #left-section-A{
    position: absolute;
    left:0;
    width:35%;
    height:100%;
    background: #262c37;
    overflow-y: scroll;
}

.main #main-section-A #right-section-A{
    position: absolute;
    right:0;
    border-left:1px solid black;
    width:65%;
    height:100%;
    background: #c3c9d5;
}

.main #main-section-B #left-section-B{
    position: absolute;
    right:0;
    width:35%;
    height:100%;
    background: #262c37;
    overflow-y: scroll;
}

.main #main-section-B #right-section-B{
    position: absolute;
    left:0;
    border-left:1px solid black;
    width:65%;
    height:100%;
    background: #c3c9d5;
}

.main #main-section-A #left-section-A .left-tb-div-A , 
.main #main-section-B #left-section-B .left-tb-div-B{
    width:100%;
    height:10%;
    cursor: pointer;
    position:relative;
    color: rgba(255, 255, 255, 0.4);
    background: #262c37;
    letter-spacing: 2px;
    transition: 0.5s;
    text-align: center;
    line-height: 50px;
    border: 1px solid #2894ff;
}

#left-section-A::-webkit-scrollbar, 
#left-section-B::-webkit-scrollbar{
    display: none;
  }

.main #main-section-A #left-section-A .left-tb-div-A:hover{
    color: rgba(255, 255, 255, 1);
}

.main #main-section-A #left-section-A .left-tb-div-A:focus{
    outline: none;
}

.main #main-section-A #right-section-A #right-section-add-sched,
.main #main-section-B #right-section-B #right-section-add-sched-B{
    width:100%;
    height:8%;
    border-bottom:3px solid #262c37;
    font-size: 2vw;
    text-align: center;
    line-height: 190%;
    cursor: pointer;
    background: white;
}

.main #main-section-A #right-section-A .new-div-sched,
.main #main-section-B #right-section-B .new-div-sched-B{
    position: relative;
    width:100%;
    height: 15%;
    background: #c3c9d5;
    border-bottom: 3px solid #262c37;
    
}

.main #main-section-A #right-section-A .new-div-sched #start-to-end-lbl,
.main #main-section-B #right-section-B .new-div-sched-B #start-to-end-lbl-B{
    position: absolute;
    top:45%;
    left:47%;
    font-size: 1.6vw;
}

.main #main-section-A #right-section-A .new-div-sched #choose-start-time-lbl,
.main #main-section-B #right-section-B .new-div-sched-B #choose-start-time-lbl-B{
    position: absolute;
    top:5%;
    left:40%;
    font-size: 1.6vw;
    text-align: center;
}

.main #main-section-A #right-section-A .new-div-sched .new-div-sched-start-time{
    position: absolute;
    top:40%;
    left:5%;
    width:40%;
    height:50%;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    line-height: 180%;
    text-decoration: none;
    overflow: hidden;
    background: #262c37;
    border-radius: 50px;
    font-size: 2vw;
    cursor: pointer;
}

.main #main-section-A #right-section-A .new-div-sched .new-div-sched-end-time{
    position: absolute;
    top:40%;
    right:5%;
    width:40%;
    height:50%;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    line-height: 180%;
    text-decoration: none;
    overflow: hidden;
    background: #262c37;
    border-radius: 50px;
    font-size: 2vw;
    opacity: 0.1;
}

.main #main-section-A #right-section-A .new-div-sched .new-div-sched-end-time:hover span:nth-child(1),
.main #main-section-A #right-section-A .new-div-sched .new-div-sched-start-time:hover span:nth-child(1){
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:3px;
    background: linear-gradient(to right , #0c002b, #2894ff);
    animation: animate1 2s linear infinite;;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}


.main #main-section-A #right-section-A .new-div-sched .new-div-sched-end-time:hover span:nth-child(3),
.main #main-section-A #right-section-A .new-div-sched .new-div-sched-start-time:hover span:nth-child(3){
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height:3px;
    background: linear-gradient(to left , #0c002b, #2894ff);
    animation: animate3 2s linear infinite;
}

@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.sub-main{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border:2px solid black;
    background-color: white;
    border-radius: 20px;
    width:40%;
    height:60%;
    font-family: Arial;
    /* visibility: hidden; */
}

.sub-main #header-div{
    width:100%;
    height:20%;
}

.sub-main #header-div #start-day-lbl{
    position: absolute;
    text-align: center;
    font-size: 2.3vw;
    top:5%;
    left:15px;
}

.sub-main #header-div #end-day-lbl{
    position: absolute;
    text-align: center;
    font-size: 2.3vw;
    top:5%;
    right:15px;
}

.sub-main .time-bound-div .person-A-time-bound label{
    position: absolute;
    left:40%;
    font-size: 2vw;
}

.sub-main .time-bound-div .person-A-time-bound #time-bound-start-a ,
.sub-main .time-bound-div .person-A-time-bound #time-bound-end-a
{
    position:absolute;
    display: inline-block;
    overflow: hidden;
    width:30%;
    height: 18%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background: #262c37;
    letter-spacing: 2px;
    font-size: 3vw;
    border-radius: 20px;
    border:3px solid #2894ff;
    top:30%;
}

.sub-main .time-bound-div .person-A-time-bound #time-bound-start-a:focus ,
.sub-main .time-bound-div .person-A-time-bound #time-bound-end-a:focus{
    outline: none;
}
.sub-main .time-bound-div .person-A-time-bound #time-bound-start-a{
    left:6%;
}

.sub-main .time-bound-div .person-A-time-bound #time-bound-end-a{
    right:6%;
}

.sub-main .time-bound-div .person-A-time-bound #start-arrow-up-div-a{
    position: absolute;
    width: 0; 
    height: 0; 
    top:33%;
    left:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 20px solid black;
}

.sub-main .time-bound-div .person-A-time-bound #start-arrow-down-div-a{
    position: absolute;
    width: 0; 
    height: 0; 
    top:40%;
    left:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 20px solid black;
}

.sub-main .time-bound-div .person-A-time-bound #end-arrow-up-div-a{
    position: absolute;
    width: 0; 
    height: 0; 
    top:33%;
    right:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 20px solid black;
}

.sub-main .time-bound-div .person-A-time-bound #end-arrow-down-div-a{
    position: absolute;
    width: 0; 
    height: 0; 
    top:40%;
    right:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 20px solid black;
}

/*  */
.sub-main .time-bound-div .person-B-time-bound label{
    position: absolute;
    top:50%;
    left:40%;
    font-size: 2vw;
}

.sub-main .time-bound-div .person-B-time-bound #time-bound-start-b ,
.sub-main .time-bound-div .person-B-time-bound #time-bound-end-b
{
    position:absolute;
    display: inline-block;
    overflow: hidden;
    width:30%;
    height: 18%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    background: #262c37;
    letter-spacing: 2px;
    font-size: 3vw;
    border-radius: 20px;
    border:3px solid #2894ff;
    top:60%;
}

.sub-main .time-bound-div .person-B-time-bound #time-bound-start-b:focus ,
.sub-main .time-bound-div .person-B-time-bound #time-bound-end-b:focus{
    outline: none;
}
.sub-main .time-bound-div .person-B-time-bound #time-bound-start-b{
    left:6%;
}

.sub-main .time-bound-div .person-B-time-bound #time-bound-end-b{
    right:6%;
}

.sub-main .time-bound-div .person-B-time-bound #start-arrow-up-div-b{
    position: absolute;
    width: 0; 
    height: 0; 
    top:63%;
    left:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 20px solid black;
}

.sub-main .time-bound-div .person-B-time-bound #start-arrow-down-div-b{
    position: absolute;
    width: 0; 
    height: 0; 
    top:70%;
    left:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 20px solid black;
}

.sub-main .time-bound-div .person-B-time-bound #end-arrow-up-div-b{
    position: absolute;
    width: 0; 
    height: 0; 
    top:63%;
    right:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-bottom: 20px solid black;
}

.sub-main .time-bound-div .person-B-time-bound #end-arrow-down-div-b{
    position: absolute;
    width: 0; 
    height: 0; 
    top:70%;
    right:37%;
    cursor:pointer;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    
    border-top: 20px solid black;
}

.sub-main .time-bound-div #proceed-btn{
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    position:absolute;
    display: inline-block;
    overflow: hidden;
    width:25%;
    height: 10%;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    font-size: 1.2vw;
    border-radius: 5px;
    border:3px solid  #262c37;
    font-weight: 600;
}
